<div [@pulse]="pulse">
  <div class="texto-container">
    <h1 class="texto-definitions">u have to find te way...</h1>
    <h1 class="texto-definitions shine-text">a new chance, </h1>
    <h1 class="texto-definitions">go back on your memories...</h1>
    <h1 class="texto-definitions">the <span class="shine-text">home</span> is waiting for you</h1>
  </div>
</div>

<div *ngIf="continue" fxLayout="row" fxLayoutAlign="center center" class="buton-container">
  <button mat-stroked-button (click)="continuar()">
    <i class="material-icons">keyboard_arrow_left</i>
    <strong>CONTINUAR</strong>
    <i class="material-icons">keyboard_arrow_right</i>
  </button>
</div>
