<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div class="texto-creditos">
    <div [@fadeIn]="fadeIn">
      <h4>CREDITOS</h4>
      <p>
      DIANA DEL AMOR - ARTE 2D<br>
      SOLE ARRI - ARTE 2D<br>
      ZETA - PROGRAMACION / ARTE 2D<br>
      LUCHO - <br>
      RENATA - GAME DESIGN<br>
      INDI - GAME DESIGN<br>
      </p>
    </div>
    <div [@fadeIn]="fadeIn">
      <h4>AGRADECIMIENTOS</h4>
      <p>
        JUAN STURLA<br>
        ANDRES ffwrwwf<br>
      </p>
    </div>
  </div>
</div>
