<div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
  <div class="texto-creditos">
    <div [@fadeIn]="fadeIn">
      <h4>CREDITOS</h4>
      <p>
      DIANA DEL AMOR<br>
      <small>arte 2d</small><br>
      SOLE ARRI<br>
      <small>arte 2d</small><br>
      ZETA <br>
      <small>progrmacion / arte 2D</small><br>
      LUCHO<br>
      <small>game design / sonido</small><br>
      RENATA <br>
      <small>game design / sonido</small><br>
      INDI <br>
      <small>game design</small><br>
      </p>
    </div>
    <div [@fadeIn]="fadeIn">
      <h4>AGRADECIMIENTOS</h4>
      <p class="creditos">
        JUAN STURLA<br>
        ANDRES ffwrwwf<br>
      </p>
    </div>
  </div>
</div>
