<div class="main-game-container">

  <div class="canvas-container">
  <div fxLayout="row" fxLayout.xs="column" fxLayoutWrap fxLayoutGap="0.5%" fxLayoutAlign="center">
    <!-- decision 1-->
    <div fxFlex="20%">
      <mat-card [@flash]="flash" (click)="decidir(1)">
        <mat-card-header>
          <mat-card-title>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="">
        </mat-card-content>
      </mat-card>
    </div>

    <!-- decision 2-->
    <div fxFlex="20%">
      <mat-card [@flash]="flash" (click)="decidir(2)">
        <mat-card-header>
          <mat-card-title>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="">
        </mat-card-content>
      </mat-card>
    </div>

    <!-- decision 3-->
    <div fxFlex="20%">
      <mat-card [@flash]="flash" (click)="decidir(3)">
        <mat-card-header>
          <mat-card-title>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="">
        </mat-card-content>
      </mat-card>
    </div>

    <!-- decision 4-->
    <div fxFlex="20%">
      <mat-card [@flash]="flash" (click)="decidir(4)">
        <mat-card-header>
          <mat-card-title>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="">
        </mat-card-content>
      </mat-card>
    </div>

    <!-- decision 5-->
    <div fxFlex="20%">
      <mat-card [@flash]="flash" (click)="decidir(5)">
        <mat-card-header>
          <mat-card-title>
          </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <img mat-card-image src="">
        </mat-card-content>
      </mat-card>
    </div>

  </div>
  <canvas [@flash]="flash" #myCanvas width="1300" height="450"></canvas>

  </div>
</div>
