/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* general */

/* main */
.main-game-container {
  width: 900px;
  height: 550px;
  background-color: black;
  border-radius: 10px;
}

.canvas-container {
  padding-left: 50px;
  padding-top: 50px;
}

/* decision */
.imagen-decision {
  width: 650px;
  height: 450px;
}

.decision-container {
  background-color: 'red';
}

/* start */
.imagen-fondo {
  width: 100%;
  height: 95vh;
}

/* texto */
.texto-definitions {
  font-style: italic;
  font-style: oblique;
  font-size: 3.5rem;
}

.texto-container {
  margin-top: 100px;
}

.word01  {
  font-size: 4rem;
}

.word02 {
  font-size: 3rem;
}

.buton-container {
  margin-top: 50px;
}
